[submodule "softy-pinko-front-end"]
	path = softy-pinko-front-end
	url = https://github.com/atlas-school/softy-pinko-front-end
[submodule "task2/front-end/softy-pinko-front-end"]
	path = task2/front-end/softy-pinko-front-end
	url = https://github.com/atlas-school/softy-pinko-front-end
[submodule "task3/front-end/softy-pinko-front-end"]
	path = task3/front-end/softy-pinko-front-end
	url = https://github.com/atlas-school/softy-pinko-front-end
[submodule "task4/front-end/softy-pinko-front-end"]
	path = task4/front-end/softy-pinko-front-end
	url = https://github.com/atlas-school/softy-pinko-front-end
